In [1]:
import pandas as pd
import sys
sys.path.insert(0, "/Users/lili/dropbox_lili/common_functions")
sys.path.insert(0, "/Users/lili/dropbox_lili/outliers_package/blackSheep/")
import commonFns
import blacksheep as blsh

In [5]:
annotations = pd.read_csv('vignettes/brca/annotations_common_samples.csv', index_col=0)
for col in ['GATA3 Mutation','PIK3CA Mutation','TP53 Mutation']:
    new_col = '.'.join(col.split()+['Status'])
    annotations[new_col] = annotations[col].isnull()==False

annotations = blsh.binarize_annotations(annotations[[
    'PAM50', 
    'ER Status', 
    'PR Status', 
    'GATA3.Mutation.Status',
    'PIK3CA.Mutation.Status',
    'TP53.Mutation.Status'
]])

In [8]:
values = pd.read_csv('vignettes/brca/phospho_common_samples_data.csv', index_col=0)

In [10]:
outliers = blsh.make_outliers_table(values)

/Users/lili/anaconda3/envs/blacksheep/lib/python3.7/site-packages/numpy/lib/nanfunctions.py:1354: RuntimeWarning: All-NaN slice encountered
  overwrite_input, interpolation)

In [14]:
group1, lis1, group2, lis2 = blsh.comparisons.get_sample_lists(annotations, 'PAM50_Her2')

# A gene in tosh's analysis that's not in mine:

In [18]:
outliers.df.loc[['NP_001001924'], [samp+'_outliers' for samp in lis2]]

,TCGA-AO-A12D_outliers,TCGA-C8-A130_outliers,TCGA-C8-A138_outliers,TCGA-C8-A12L_outliers,TCGA-C8-A12T_outliers,TCGA-A2-A0EQ_outliers,TCGA-AR-A0TX_outliers,TCGA-A8-A076_outliers,TCGA-C8-A135_outliers,TCGA-C8-A12Z_outliers,TCGA-AO-A0JE_outliers,TCGA-A8-A09G_outliers
gene,,,,,,,,,,,,
NP_001001924,0.0,0.0,0.0,0.0,0.0,0.0,3.0,1.0,0.0,2.0,2.0,0.0

In [19]:
len(lis2)

12

In [21]:
outliers.df.loc[['NP_001001924'], [samp+'_notOutliers' for samp in lis2]].sum(axis=1)

gene
NP_001001924    136.0
dtype: float64

In [22]:
outliers.df.loc[['NP_001001924'], [samp+'_outliers' for samp in lis2]].sum(axis=1)

gene
NP_001001924    8.0
dtype: float64

In [23]:
8/(136+8)

0.05555555555555555

In [24]:
outliers.df.loc[['NP_001001924'], [samp+'_notOutliers' for samp in lis1]].sum(axis=1)

gene
NP_001001924    754.0
dtype: float64

In [25]:
outliers.df.loc[['NP_001001924'], [samp+'_outliers' for samp in lis1]].sum(axis=1)

gene
NP_001001924    49.0
dtype: float64

In [26]:
49/(49+754)

0.06102117061021171

### Conclusion: should not be included, Tosh's needs an adjust

# Finding duplicated genes in my output tables

In [27]:
import os

In [40]:
for file in os.listdir('vignettes/output/no_agg/'):
    if '.qvalues.tsv' in file:
        df = pd.read_csv('vignettes/output/no_agg/'+file, sep='\t', index_col=0)
        print(sum(df.index.duplicated()))

0
0
0
0
0
0
0
0
0
0
0
0
0

In [41]:
for file in os.listdir('vignettes/output/agg/'):
    if '.qvalues.tsv' in file:
        df = pd.read_csv('vignettes/output/agg/'+file, sep='\t', index_col=0)
        print(sum(df.index.duplicated()))

7
5
4
9
0
0
6
1
1
0
0
1
0
7
3
0
30
2
0
1

In [44]:
df[df.index.duplicated(keep=False)]

,NotOutlier_PIK3CA.Mutation.Status_False,NotOutlier_PIK3CA.Mutation.Status_True,Outliers_PIK3CA.Mutation.Status_False,Outliers_PIK3CA.Mutation.Status_True,fisherp_PIK3CA.Mutation.Status_False,fisherp_PIK3CA.Mutation.Status_True,fisherFDR_PIK3CA.Mutation.Status_False,fisherFDR_PIK3CA.Mutation.Status_True
NP_055750,1035.0,554.0,47.0,26.0,0.900497,NaN,1.0,0.910447
NP_055750,1035.0,554.0,47.0,26.0,NaN,0.900497,1.0,0.910447

In [45]:
47/(47+1035)

0.04343807763401109

In [46]:
26/(26+554)

0.04482758620689655